.terran {
    background-color:gray;
}
.cathaar {
    background-color:blue;
}
.xandathrii {
    background-color:green;
}
.zikonian {
    background-color:red;
}
.eidtraides {
    background-color:black;
}